.App {
  text-align: center;
}
#dropZone {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#dropZone:hover {
  opacity: 0.6;
}
#button-container {
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-evenly;
  display: none;
}


